.ds_site-header {
    &__content {
        grid-template-areas: "branding controls"
                             "nav      nav     ";
        grid-template-columns: 1fr auto;
        align-items: stretch;



        @include ds_media-query(medium) {
            grid-template-areas: "branding nav";
        }
    }

    &__control-icon {
        top: 0;
    }
}
